.profile_pic_icon {
  height: 40px;
  width: 40px;
}

.icon {
  height: 40px;
  width: 40px;
}

.profile_pic_icon > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.left {
  display: flex;
  align-items: center;
  height: 60px;
}
