.profile_pic_icon {
  height: 28px;
  width: 28px;
}

.icon {
  height: 28px;
  width: 28px;
  color: #1089f0;
  fill: #1089f0;
}

/*
Need to give colors to
icons 
*/

.profile_pic_icon > img {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  object-fit: cover;
}

.left {
  display: flex;
  align-items: center;
  height: 60px;
}
