.login_page_container {
  height: 100vh;
  width: 100%;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  font-family: "Freight Sans Bold", Helvetica, Arial, sans-serif;
}

.login_page_logo > h2 {
  font-size: 60px;
  color: #1777f2;
}

.login_page_logo_container {
  height: 100%;
  width: 550px;
  display: flex;
  align-items: center;
}

.login_page_content_container {
  width: 400px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.login_page_content {
  width: 400px;
  height: 390px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login_page_email_input,
.login_page_password_input {
  height: 52px;
  width: 364px;
}

.login_page_content button {
  height: 52px;
  width: 364px;
  background-color: #1877f2;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  font-weight: 500;
}
.login_page_content button:hover {
  background-color: #166fe5;
  cursor: pointer;
}

.login_hr {
  width: 364px;
}

.login_page_content button:nth-of-type(2) {
  height: 52px;
  width: 364px;
  margin-top: 20px;

  background: linear-gradient(to bottom, #eadb98 0%, #b08130 100%);
  overflow: hidden;
  position: relative;
  color: white;
}
.login_page_content button:nth-of-type(2):hover {
  background-color: black;
  color: gold;
}

.login_page_content button:nth-of-type(2):hover span:nth-of-type(1) {
  left: 364px;
  transition: 1s;
}

.login_page_content button:nth-of-type(2):hover span:nth-of-type(2) {
  top: 52px;
  transition: 1s;
  transition-delay: 0.25s;
}

.login_page_content button:nth-of-type(2):hover span:nth-of-type(3) {
  right: 364px;
  transition: 1s;
  transition-delay: 0.5s;
}

.login_page_content button:nth-of-type(2):hover span:nth-of-type(4) {
  bottom: 52px;
  transition: 1s;
  transition-delay: 0.75s;
}

.login_page_content span:nth-of-type(1) {
  position: absolute;
  top: 0px;
  left: -364px;
  width: 364px;
  height: 2px;
  background: linear-gradient(90deg, transparent, aqua);
}
.login_page_content span:nth-of-type(2) {
  position: absolute;
  top: -52px;
  right: 0px;
  width: 2px;
  height: 52px;
  background: linear-gradient(180deg, transparent, aqua);
}

.login_page_content span:nth-of-type(3) {
  position: absolute;
  bottom: 0px;
  right: -364px;
  width: 364px;
  height: 2px;
  background: linear-gradient(270deg, transparent, aqua);
}

.login_page_content span:nth-of-type(4) {
  position: absolute;
  bottom: -52px;
  left: 0px;
  width: 2px;
  height: 52px;
  background: linear-gradient(360deg, transparent, aqua);
}

.login_page_content button:nth-of-type(3) {
  width: 200px;
  height: 50px;
  background-color: #38b11f;
  font-size: 17px;
  color: white;
}

.login_page_content button:nth-of-type(3):hover {
  background-color: #36a420;
}
