.login_page_container {
  height: 100vh;
  width: 100%;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  font-family: "Freight Sans Bold", Helvetica, Arial, sans-serif;
}

.login_page_logo > h2 {
  font-size: 60px;
  color: #1777f2;
}

.login_page_logo_container {
  height: 100%;
  width: 550px;
  display: flex;
  align-items: center;
}

.login_page_content_container {
  width: 400px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.login_page_content {
  width: 400px;
  height: 350px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login_page_email_input,
.login_page_password_input {
  height: 52px;
  width: 364px;
}

.login_page_content button {
  height: 52px;
  width: 364px;
  background-color: #1877f2;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  font-weight: 500;
}
.login_page_content button:hover {
  background-color: #166fe5;
  cursor: pointer;
}

.login_hr {
  width: 364px;
}

.login_page_content button:nth-of-type(2) {
  width: 200px;
  height: 50px;
  background-color: #38b11f;
  font-size: 17px;
  color: white;
}

.login_page_content button:nth-of-type(2):hover {
  background-color: #36a420;
}
