.profile_page_post_container {
  width: 70%;
  height: 97%;
  display: flex;
  justify-content: space-between;
}

.profile_page_post_left {
  width: 48%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-right: -65px;
}
.profile_page_post_right {
  width: 60%;
  height: 100%;
  overflow: scroll;
}

.face_id_camera {
  width: 80%;
  height: 45%;
  border-radius: 10px;

  background: linear-gradient(to bottom, #eadb98 0%, #b08130 100%);
  display: flex;
  flex-direction: column;
  color: gold;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.face_id_camera > img {
  object-fit: fit;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  animation: float 2s infinite;
}

.face_id_camera > img:hover {
  cursor: pointer;
}
.face_id_camera > img:active {
  cursor: pointer;
  animation: none;
}

.friends_container {
  width: 80%;
  height: 450px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.friends_container h6 {
  font-weight: 700;
  font-size: 20px;
}

.friends_container_row {
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.friends_container img {
  height: 65px;
  width: 65px;
  border-radius: 10px;
  object-fit: cover;
}

.profile_page_create_post {
  height: wrap;
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile_page_displayed_post {
  height: wrap;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  25% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-10px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
