.sponsor {
  height: wrap;
  width: 100%;
  display: flex;
  align-items: center;
}
.sponsor_image {
  overflow: hidden;
  height: 120px;
  width: 120px;
}
.sponsor_image > img {
  height: 120px;
  width: 120px;
  border-radius: 10%;
  object-fit: cover;
}

.right {
  display: flex;
  align-items: center;
  height: 60px;
}
