.left_container {
  font-size: 15px;
  font-weight: 400;
  color: #212529;
}

.left_container h5 {
  color: #65676b;
  font-weight: 600;
  font-size: 17px;
}

.profile_pic_icon {
  height: 28px;
  width: 28px;
}

.icon {
  height: 28px;
  width: 28px;
  color: #1089f0;
  fill: #1089f0;
}

.profile_pic_icon > img {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  object-fit: cover;
}

.left {
  display: flex;
  align-items: center;
  height: 60px;
}
