.create_post_container {
  background-color: white;
  border-radius: 10px;
  height: 120px;
  width: 80%;
}

.create_post_header {
  display: flex;
  justify-content: space-around;
}

.create_post_header > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.create_post_input {
  width: 80%;
  height: 50px;
  background-color: tomato;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create_post_input > input {
  width: 95%;
  outline-style: none;
  border: none;
  background-color: transparent;
}

.create_post_icons {
  display: flex;
  justify-content: space-around;
}

.live_icon,
.photo_icon,
.feeling_icon {
  height: 40px;
  width: 40px;
}
