.create_post_container {
  background-color: white;
  border-radius: 10px;
  height: 140px;
  width: 500px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.create_post_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.create_post_header > img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.create_post_input {
  width: 80%;
  height: 40px;
  background-color: #f0f2f5;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create_post_input > input {
  width: 95%;
  outline-style: none;
  border: none;
  background-color: transparent;
}

.create_post_icons {
  display: flex;
  justify-content: space-around;
}

.live_icon,
.photo_icon,
.feeling_icon {
  height: 24px;
  width: 24px;
}
.feeling_icon {
  color: #ecb83c;
}
.photo_icon {
  color: #42b55f;
}
.live_icon {
  color: #e52746;
}
