.navbar_container {
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.navbar_found_users_container {
  position: absolute;
  top: 59px;
  left: 64px;
  z-index: 1;
  background-color: white;
  border-radius: 10px;
  height: wrap;
  width: 330px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.navbar_found_users_container > .profile_pic_icon > img {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  object-fit: cover;
}
.navbar_found_users_container > .profile_pic_icon {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.navbar_container button:nth-of-type(1) {
  border: none;
  outline: none;
  background: linear-gradient(to bottom, #eadb98 0%, #bd9145 100%);
  height: 48px;
  width: 48px;
  border-radius: 50%;
}
.navbar_container button:nth-of-type(1):hover {
  background: linear-gradient(to bottom, #eadb98 0%, #ddb671 100%);
}

.navbar_container button:nth-of-type(1):active {
  background: linear-gradient(to bottom, #eadb98 0%, #e9b254 100%);
  height: 43px;
  width: 43px;
}

.navbar_arios_microphone_icon:active {
  color: #66ace9;
  height: 25px;
  width: 25px;
  font-weight: 600;
  animation: goldAnimation 5s infinite;
}
.navbar_arios_microphone_icon {
  color: #66ace9;
  height: 30px;
  width: 30px;
  font-weight: 600;
  animation: goldAnimation 5s infinite;
}

.profile_redirect h6 {
  font-weight: 600;
  font-size: 15px;
  color: black;
}

.navbar_center_icons,
.navbar_right_icons {
  width: 30%;
  height: 100%;
}

.navbar_search_input {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_search_input > .navbar_search_facebook_icon {
  height: 40px;
  width: 39px;
  color: #1089f0;
  cursor: pointer;
}
.navbar_search_input > .navbar_search_facebook_icon:hover {
  color: #69a3d6;
  cursor: pointer;
}
.navbar_search_input > .navbar_search_facebook_icon:active {
  height: 38px;
  width: 36px;
  cursor: pointer;
}

.navbar_center_icons {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar_friends_icon,
.navbar_home_icon,
.navbar_video_icon,
.navbar_shop_icon,
.navbar_group_icon {
  height: 28px;
  width: 28px;
}

.navbar_friends_icon_container,
.navbar_home_icon_container,
.navbar_video_icon_container,
.navbar_shop_icon_container,
.navbar_group_icon_container {
  background-color: teal;
  height: 56px;
  width: 110px;
  margin-left: 8px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.navbar_friends_icon_container:hover {
  cursor: pointer;
  height: 56px;
  width: 110px;
  margin-left: 8px;
  background-color: #f0f2f5;
  border-radius: 10px;
}

.navbar_home_icon_container:hover {
  cursor: pointer;
  height: 56px;
  width: 110px;
  margin-left: 8px;
  background-color: #f0f2f5;
  border-radius: 10px;
}
.navbar_video_icon_container:hover {
  cursor: pointer;
  height: 56px;
  width: 110px;
  margin-left: 8px;
  background-color: #f0f2f5;
  border-radius: 10px;
}
.navbar_shop_icon_container:hover {
  cursor: pointer;
  height: 56px;
  width: 110px;
  margin-left: 8px;
  background-color: #f0f2f5;
  border-radius: 10px;
}
.navbar_group_icon_container:hover {
  cursor: pointer;
  height: 56px;
  width: 110px;
  margin-left: 8px;
  background-color: #f0f2f5;
  border-radius: 10px;
}

.navbar_plus_icon_container,
.navbar_message_icon_container,
.navbar_notification_icon_container,
.navbar_dropdown_icon_container {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
  border-radius: 50%;
  cursor: pointer;
}
.navbar_plus_icon_container:hover,
.navbar_message_icon_container:hover,
.navbar_notification_icon_container:hover,
.navbar_dropdown_icon_container :hover {
  background-color: #dce8f3;
}

.navbar_message_icon,
.navbar_plus_icon,
.navbar_notification_icon,
.navbar_dropdown_icon {
  height: 20px;
  width: 20px;
}

.search_input {
  width: 80%;
  height: 40px;
  background-color: #f0f2f5;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_input > input {
  width: 95%;
  outline-style: none;
  border: none;
  background-color: transparent;
}

.navbar_right_icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile_redirect {
  width: wrap;
  height: 38px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;

  font-size: small;
  background-color: #dce8f3;
}

.profile_redirect:hover {
  background-color: #95c6f1;
}

.profile_redirect:active {
  background-color: #6f91af;
}

.profile_redirect > p {
  margin-bottom: 0;
}

.profile_redirect > img {
  height: 28px;
  width: 29px;
  border-radius: 50%;
  object-fit: cover;
}

@keyframes goldAnimation {
  0% {
    color: #d4e8fa;
  }
  25% {
    color: #47a9ff;
  }
  50% {
    color: #0189ff;
  }
  100% {
    color: #d4e8fa;
  }
}
